alabaster==0.7.6
amqp==1.4.6
anyjson==0.3.3
Babel==1.3
billiard==3.3.0.20
bunch==1.0.1
celery==3.1.18
cffi==1.1.2
chardet==2.3.0
crispy-forms-foundation==0.5.1
cryptography==0.9.1
diff-match-patch==20121119
Django==1.6.11
django-admin-enhancer==1.0.0
django-adminactions==0.8.3
django-appconf==1.0.1
django-autocomplete-light==2.2.3
django-bootstrap-form==3.2
django-bootstrap3==5.4.0
django-cleanup==0.2.1
django-contrib-comments==1.6.1
django-cors-headers==1.1.0
django-crispy-forms==1.4.0
django-datatables-view==1.12.1
django-debug-toolbar==1.2.1
django-dumpdata-field==0.1
django-easy-pdf==0.1.0
django-extensions==1.4.0
django-eztables==0.3.2
django-filer==0.9.11
django-filter==0.10.0
django-floppyforms==1.4.1
django-forms-bootstrap==3.0.1
django-haystack==2.4.0
django-helpdesk==0.1.16
django-hvad==1.2.2
django-imagekit==3.2.6
django-import-export==0.2.7
django-json-field==0.5.7
django-jsoneditor==0.0.6
django-jsonfield==0.9.13
django-jsonify==0.3.0
django-markdown-deux==1.0.5
django-mptt==0.7.4
django-mysql-fix==0.1.6
django-polymorphic==0.7.1
django-popup-forms==1.0.3
django-private-media==0.1.3
django-pyodbc==0.2.8
django-requestlogging==1.0.1
django-response-timeout==0.1.0
django-rest-swagger==0.2.9
django-selectable==0.9.0
django-session-activity==0.1.0
django-sphinxdoc==1.4.0
django-suit==0.2.12
django-suit-ckeditor==0.0.2
django-suit-redactor==0.0.2
django-tagging==0.4
django-url-decr==0.1.0
django-user-accounts==1.0.1
django-watson==1.1.8
django-websocket-redis==0.4.4
django-wkhtmltopdf==2.0.2
django-xadmin==0.5.0
django.js==0.8.1
DjangoColorsFormatter==1.0
djangorestframework==3.1.1
DjangoRestless==0.0.10
docutils==0.12
easy-thumbnails==2.2
ecdsa==0.13
email-reply-parser==0.3.0
enum34==1.0.4
eventlog==0.10.0
expressions==0.2.2
future==0.14.3
futures==3.0.3
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
grako==3.6.1
greenlet==0.4.2
gunicorn==19.3.0
html5lib==0.99999
httpie==0.9.2
idna==2.0
imagestore==2.9.1
ipaddress==1.0.7
ipython==3.2.0
Jinja2==2.7.3
jsonfield==1.0.3
kombu==3.0.26
Markdown==2.6.2
markdown2==2.3.0
MarkupSafe==0.23
metron==1.3.5
MySQL-python==1.2.5
natsort==4.0.1
ndg-httpsclient==0.4.0
paramiko==1.15.2
phonenumbers==7.0.6
pilkit==1.1.12
Pillow==2.8.2
pinax-theme-bootstrap==5.7.5
pip-tools==0.3.6
protocolzero==0.7.2.4
psycopg2==2.6.1
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
Pygments==2.0.2
pygments-json==0.1
pyodbc==3.0.7
pyOpenSSL==0.15.1
PyPDF2==1.24
pysftp==0.2.8
python-dateutil==2.4.2
pytz==2015.4
PyYAML==3.11
redis==2.10.3
reportlab==3.2.0
requests==2.7.0
scp==0.10.2
simplejson==3.7.3
six==1.9.0
snowballstemmer==1.2.0
sorl-thumbnail==12.2
South==1.0.2
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
sqlparse==0.1.15
swapper==0.2.2
tablib==0.10.0
unicodecsv==0.13.0
Unidecode==0.4.18
utils-nerim==0.1.6
Werkzeug==0.10.4
Whoosh==2.7.0
wkhtmltopdf==0.2
xhtml2pdf==0.0.6
xlrd==0.9.3
xlutils==1.7.1
xlwt==1.0.0
xlwt-future==0.8.0
