{% extends 'reselling/achats.html' %}

{% load staticfiles%}
{% block content %}
<div class="container">
        <h1 class="text-center">
            Construcion
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
        
        <div id="" class="content">
            <h4 class=" text-center">Page Travaux en cours de Construction.</h4>
            <div class="subscribe">
                <h5 class="info-text"> </h5>
    
                   
                
                <div class="row">
                    <img class="img-responsive" src='{% static "reselling/images/profile.png" %}' alt="">

                    <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline" role="form">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input class="form-control transparent" placeholder=" joindre par mail. ..." type="email">
                          </div>
                          <button type="submit" class="btn btn-primary btn-fill">Notifier moi</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

<script>



</script>
{% endblock %}


