{% extends 'reselling/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block menu %}

<ul class="col-lg-2 visible-lg nav nav-pills nav-stacked col-lg-2">


    <li id="Home" role="presentation" class="active"><a href='{% url "reselling:achats" %}'>Menu</a></li>
    <li id="Profile" role="presentation"><a href='{% url "reselling:achats" %}'>Ajout  client</a></li>
    <li id="Profile" role="presentation"><a href="/reselling/">autre menu</a></li>

</ul>   


<ul class="visible-xs nav nav-tabs" role="tablist">
    <li id="Home" role="presentation" class="active"><a href='{% url "reselling:achats" %}'>Menu</a></li>
    <li id="Profile" role="presentation"><a href='{% url "reselling:ventes" %}'>Ajout  ventes</a></li>
    <li id="Profile" role="presentation"><a href="/reselling/">autre</a></li>
</ul>


{% endblock %}
{% block content %}
<div class="col-lg-10 panel panel-default ">

   <div class="panel-heading">
        <h3 id="nomPanel" class="panel-title"></h3> 
    </div>

    <div class="panel-body">
        <div class="container col-lg-12">


            <div  datatableSaiyan="{% url 'reselling:config' %}">

                <div class=" col-lg-12">

                    <h1 class="visible-lg  text-center">les ventes</h1>      
                    <h2 class="visible-xs  text-center">les ventes</h2>      
                    <p>......les destinations.......</p>      

                </div>

                <div class="col-lg-12" id="example2"></div>

            </div>
        </div>
    </div>
</div>

</div>
<div class="col-lg-1"></div>
<script>

    datatableSaiyan( '{{ jsonfields|safe }}')

</script>

{% endblock %}









